@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400|Work+Sans:300,400,500');
body {
  font-family: 'Roboto Mono', 'Work Sans', sans-serif;
  margin: 0;
}

::selection {
  background: rgb(119, 119, 119);
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
  height: -moz-fit-content;
}

@-moz-document url-prefix() {
  .main-container {
    height: fit-content;
    height: -moz-fit-content;
    min-height: 1024px;
  }
}

.intro-container {
  width: 70%;
  margin: 0 auto;
}

.subheaders {
  margin-top: 15px;
}

.subheader {
  font-weight: 400;
  margin: 10px 0;
}

h4 a {
  color: inherit;
}

h4 a:hover {
  color: #FFA922;
}

.header-container {
  display: flex;
  text-align: right;
  align-items: flex-end;
  height: 100px;
  width: 90%;
  font-size: 1.2em;
  font-weight: 400;
  margin-right: 1em;
  border-bottom: 1px solid #888;
  margin: 0 auto;
}

.header-name-container {
  text-align: left;
  width: inherit;
  display: inline-block;
  color: #333;
  padding: .2em 1em .2em 1em;
  margin-right: 2em;
  margin: 16px;
}

nav {
  width: 100%;
  z-index: 1;
}

nav ul {
  display: inline-block;
  color: #333;
  padding: .2em 1em .2em 1em;
  margin-right: 2em;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline-block;
}

ul li a {
  color: #333;
}

ul li::selection, ul a::selection, ul::selection {
  background-color: black;
}

a {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #2299ff;
  transition: all .2s;
}

.left-container {
  padding: 1.3em;
}

.name-container {
  display: flex;
  flex-direction: column;
  margin: 200px 0;
}

h1 {
  display: inline-block;
  font-weight: 700;
  font-size: 2.3em;
  color: #333;
  margin: 0;
  padding: 0 .1em;
  margin-top: .05em;
  /* background-color: black; */
  width: max-content;
  width: -moz-max-content;
}

h2 {
  text-align: left;
  font-size: 2em;
}

h4 {
  display: inline-table;
  color: #fff;
  background-color: rgb(0, 0, 0);
  padding: .1em 1em .1em 1em;
  margin: 0 auto;
}

h5 {
  margin: 5px;
}

#projects h1 {
  width: 80%;
  margin: 0 auto;
  text-align: left;
  font-size: 3em;
  text-decoration: underline;
  margin-top: .5em;
}

#experience h1 {
  width: 80%;
  margin: 0 auto;
  text-align: left;
  text-decoration: underline;
  margin-top: 5em;
}

.project-cover:hover h2 {
  transform: translatey(0px);
	animation: float .3s ease-in;
}

.project-cover:hover h3 {
  transform: translatey(0px);
	animation: float .4s ease-in;
}

.project-cover:hover h5 {
  transform: translatey(0px);
	animation: float .5s ease-in;
}

.project-header {
  /* background-color: #2299ff; */
}

.contact-container {
  width: 50%;
  font-size: 1em;
  text-align: left;
  margin-top: .5em;
}

.contact-icon {
  margin-right: .6em;
  height: 17px;
  width: 17px;
}

.half-container {
  width: 50%;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-between;
  width: 100%;
  height: 80%;
  margin: 0 auto;
  text-align: center;
}

#about-info {
  width: 80%;
  justify-content: flex-start;
}

.personal-text-section {
  color: #636363;
  background-color: white;
  margin: 0 0 1.2em 0;
  padding: 10px;
}

.personal-text-section::selection {
  background: black;
}

.info-container div h1 {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

.personal-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 5em;
}

.personal-container div {
  display: flex;
}

.personal-text-container {
  width: 50%;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.profile-image-container {
  width: 50%;
  justify-content: center;
}

.profile-image {
  border-radius: 50%;
  height: 300px;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 2em;
}

.project {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 400px;
  margin: .2em;
  background-color: rgb(49, 49, 49);
  cursor: pointer;
}

.project-image {
  height: 400px;
  width: inherit;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.project-cover {
  position: absolute;
  opacity: 0;
  height: 400px;
  width: 570px;
  padding-left: 30px;
  color: #252525;
  background-color: rgba(34, 170, 255, 1);
  transition: opacity 0.2s ease-out 0s;
}

.project-cover:hover {
  opacity: 1;
}

#pulse {
  background-image: url('./assets/pulse.png');
}

#pulse + div {
  background-color: rgb(32, 200, 165);
}

#hamono {
  background-image: url('./assets/hamono-cover.png');
  background-color: #5F0000;
  background-size: contain;
}

#hamono + div {
  background-color: rgb(104, 1, 1);
  color: #d8d8d8;
}

#seabird {
  background-size: cover; 
  background-image: url('./assets/seabird-cover.png')
}

#seabird + div {
  background-color: rgb(0, 126, 0);
  color: white;
}

#waddupr {
  background-size: cover;
  background-image: url('./assets/waddupr-cover.png')
}

#waddupr + div {
  background-color:#ffde01;
}

#waddupboard {
  background-size: cover;
  background-image: url('./assets/waddupboard-cover.png')
}

#waddupboard + div {
  background-color: rgb(4, 2, 23);
  color: white;
}

#needone {
  background-color: rgba(170, 170, 188);
  background-image: url('./assets/needone-cover.png')
}

#needone + div {
  background-color: rgb(147, 225, 251);
}

#purrpl {
  background-color: rgb(95, 62, 153);
  background-image: url('./assets/purrpl.png')
}

#purrpl + div {
  background-color: rgb(95, 62, 153);
  color: white;
}

#task-bot {
  background-image: url('./assets/blue.jpg')
}

#tetris-ai {
  background-image: url('./assets/blue.jpg')
}

#ebay {
  background-image: url('./assets/ebay.png');
  background-size: 90%;
}

#ebay + div {
  background-color: rgb(245, 177, 0);
}

#dali {
  background-image: url('./assets/dali.png');
  background-size: 90%;
}

#dali + div {
  background-color: white;
}

.project-description {
  width: 300px;
  max-height: 200px;
  text-align: left;
}

.contact {
  text-align: center;
}

@media only screen and (max-width: 868px) {
  nav {
    display: none;
  }
  /* .main-container {
    height: 100%;
  } */
  .main-container .info-container {
    width: 100%;
  }
  .intro-container {
    width: 100%;
    align-content: center;
    align-items: center;
    text-align: center;
  }
  .name-container {
      padding: 0 20px;
  }

  .contact {
    padding: 0 10px;
  }

  .intro-container h3 {
    font-size: 1em;
    text-align: left;
    font-weight: bold;
  }

  .intro-container .contact-container {
    width: 75%;
  }

  .intro-container .contact-container h4 {
    margin-top: 20px;
  }

  .main-container {
    height: fit-content;
    height: -moz-fit-content;
  }

  .profile-image-container {
    margin: 0 auto;
    margin-bottom: 4em;
    width: 100%;
  }
  
  .profile-image {
    height: 300px;
    width: 300px;
  }
  
  .personal-text-container {
    margin: 0;
    width: 100%;
  }

  .personal-text-section {
    width: initial;
    min-width: 270px;
  }

  .project {
    width: 100%;
    height: 275px;
  }

  .project-cover {
    width: 91.1%;
    height: 275px;
    padding-left: 7.9%;
  }
}

.link {
  color: #2299ff;
  text-decoration: underline;
}

@keyframes float {
  0% {
    opacity: 0;
		transform: translatey(20px);
	}
  100% {
    opacity: 1;
		transform: translatey(0px);
  }
}
