@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400|Work+Sans:300,400,500');
body {
  font-family: 'Roboto Mono', 'Work Sans', sans-serif;
  margin: 0;
}

::selection {
  background: rgb(119, 119, 119);
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
  min-height: 100%;
}

.intro-container {
  width: 70%;
  margin: 0 auto;
}

.subheader {
  font-weight: 400;
  margin: 10px 0;
}

h4 a {
  color: inherit;
}

h4 a:hover {
  color: #FFA922;
}

.header-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-self: flex-end;
  text-align: right;
  font-size: 1em;
  margin-right: 1em;
}

nav {
  position: fixed;
  width: 100%;
}

nav ul {
  background-color: black;
  display: inline-block;
  color: white;
  padding: .2em 1em .2em 1em;
  margin-right: 2em;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline-block;
}

ul li a {
  color: white;
}

ul li::selection, ul a::selection, ul::selection {
  background-color: black;
}

a {
  color: #FFA922;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #FFA922;
  transition: all .2s;
}

.left-container {
  padding: 1.3em;
}

h1 {
  display: inline-block;
  font-weight: 700;
  font-size: 4.5em;
  color: #fff;
  margin: 0;
  margin-top: .05em;
  padding: 0 .3em 0 .1em;
  background-color: black;
}

h2 {
  text-align: left;
  font-size: 3em;
}

.project-cover:hover h2 {
  transform: translatey(0px);
	animation: float .3s ease-in;
}

.project-cover:hover h3 {
  transform: translatey(0px);
	animation: float .4s ease-in;
}

.project-cover:hover h5 {
  transform: translatey(0px);
	animation: float .5s ease-in;
}

h4 {
  display: inline-table;
  color: #fff;
  background-color: rgb(0, 0, 0);
  padding: .1em 1em .1em 1em;
  margin: 0 auto;
}

.project-header {
  background-color: #2299ff;
}

.contact-container {
  width: 50%;
  font-size: 1em;
  text-align: left;
  margin-top: .5em;
}

.contact-icon {
  margin-right: .6em;
  height: 17px;
  width: 17px;
}

.half-container {
  width: 50%;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-between;
  width: 100%;
  height: 80%;
  margin: 0 auto;
  text-align: center;
}

#home {
  background-color: #2299ff;
}

#about {
  background-color: #2299ff;
}

#about-info {
  width: 80%;
  justify-content: flex-start;
}

.personal-text-section {
  display: inline-block;
  width: max-content;
  max-width: 80%;
  min-width: 500px;
  color: #636363;
  background-color: white;
  margin: 0 0 1.2em 0;
  padding: 10px;
}

.personal-text-section::selection {
  background: black;
}

.info-container div h1 {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

.personal-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 5em;
}

.personal-container div {
  display: flex;
}

.personal-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-left: 50px;
  width: 47%;
}

.profile-image-container {
  display: flex;
  width: 330px;
  height: 330px;
  margin: 0 1em 3em 1.7em;
}

.profile-image {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  margin-right: .3em;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding-top: 2em;
  padding-left: 2.5%;
}

.project {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 400px;
  margin: .2em;
  background-color: rgb(49, 49, 49);
}

.project-image {
  height: 400px;
  width: inherit;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.project-cover {
  position: absolute;
  opacity: 0;
  height: 400px;
  width: 570px;
  padding-left: 30px;
  background-color: rgba(34, 170, 255, 1);
  transition: opacity 0.2s ease-out 0s;
}

.project-cover:hover {
  opacity: 1;
}

#pulse {
  background-image: url('./assets/pulse.png');
}

#pulse + div {
  background-color: rgb(32, 200, 165);
}

#hamono {
  background-image: url('./assets/hamono-cover/hamono-cover-4.png');
  background-size: cover;
}

#hamono + div {
  background-color: rgb(104, 1, 1);
}

#seabird {
  background-image: url('./assets/seabird.png')
}

#seabird + div {
  background-color: rgb(81, 165, 123)
}

#waddupr {
  background-image: url('./assets/waddupr.png')
}

#waddupr + div {
  background-color: black;
}

#waddupboard {
  background-image: url('./assets/blue.jpg')
}

#needone {
  background-image: url('./assets/blue.jpg')
}

#task-bot {
  background-image: url('./assets/blue.jpg')
}

#tetris-ai {
  background-image: url('./assets/blue.jpg')
}

.project-description {
  width: 300px;
  max-height: 200px;
  color: #252525;
  text-align: left;
}


@media (max-width:600px) {
  .main-container {
    height: 180%;
  }
  .main-container .info-container {
    width: 100%;
  }
  .intro-container {
    align-content: center;
    align-items: center;
    text-align: center;
  }
  .intro-container h1 {
    font-size: 3.5em;
  }
  .intro-container .contact-container {
    width: 100%;
    text-align: center;
  }
  .personal-container .personal-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-left: 50px;
    width: 100%;
  }
}


@keyframes float {
  0% {
    opacity: 0;
		transform: translatey(20px);
	}
  100% {
    opacity: 1;
		transform: translatey(0px);
  }
}
