.projectContainer {
  position: relative;
  height: 500px;
  width: 75vw;
  margin-bottom: 170px;
  cursor: pointer;
}

.headerContainer {
  position: absolute;
  left: 30px;
  bottom: 0px;
  color: white;
}

.mask {
  position: relative;
  height: 700px;
  top: -200px;
  mask: url('../images/hamono.png');
  mask-size: cover;
  mask-repeat: no-repeat;
  transition: all .2s ease;
}

.hamono img {
  top: 17vh;
  left: 20vw;
  height: 700px;
}

.pulse img {
  top: 10vh;
  left: 14vw;
  height: 850px;
}

.maskHover {
  position: relative;
  height: 750px;
  top: -250px;
}

.mask img {
  position: relative;
}

